<div class="obsidian-tab-container tab" data-group="main-tabs" data-tab="spells">
	<div class="obsidian-char-spell-header obsidian-simple-dialog" data-template="spellcasting.html"
	     data-title="{{localize 'OBSIDIAN.ManageSpellcasting'}}" data-width="450">
		<div>
			<div class="obsidian-table-number-lg">
				{{#each actor.flags.obsidian.attributes.spellcasting.mods}}
					<span>{{numberFormat this decimals=0 sign=true}}</span>
				{{/each}}
			</div>
			<div class="obsidian-char-spell-header-label">{{localize 'OBSIDIAN.Modifier'}}</div>
		</div>
		<div>
			<div class="obsidian-table-number-lg">
				{{#each actor.flags.obsidian.attributes.spellcasting.attacks}}
					<span>{{numberFormat this decimals=0 sign=true}}</span>
				{{/each}}
			</div>
			<div class="obsidian-char-spell-header-label">{{localize 'OBSIDIAN.SpellAttack'}}</div>
		</div>
		<div>
			<div class="obsidian-table-number-lg">
				{{#each actor.flags.obsidian.attributes.spellcasting.saves}}
					<span>{{this}}</span>
				{{/each}}
			</div>
			<div class="obsidian-char-spell-header-label">{{localize 'OBSIDIAN.SaveDC'}}</div>
		</div>
		<a title="{{localize 'OBSIDIAN.AddCustom'}}" class="obsidian-edit obsidian-add-spell">
			{{localize 'OBSIDIAN.AddCustom'}}
		</a>
	</div>
	<div class="obsidian-char-spell-search">
		<div class="obsidian-input-search-container">
			<input type="text" class="obsidian-input-search obsidian-search-spell-name"
			       placeholder="{{localize 'OBSIDIAN.SpellName'}}...">
			<i class="fas fa-search"></i>
			<span class="obsidian-clear-search obsidian-clear-spell-name">&times;</span>
		</div>
		{{#unless isNPC}}
		<button type="button" class="obsidian-btn-sm obsidian-btn-sheet obsidian-btn-outline
		        obsidian-manage-spells">
			{{localize 'OBSIDIAN.ManageSpells'}}
		</button>
		{{/unless}}
	</div>
	<ul class="obsidian-tab-bar" data-group="spells">
		<li class="obsidian-sub-tab item" data-tab="spell-all">{{localize 'OBSIDIAN.All'}}</li>
		{{#each (range 0 9)}}
			{{#if (has-spells ../actor ../spellbook this)}}
				<li class="obsidian-sub-tab item obsidian-spell-level-tab" data-tab="spell-{{this}}">
					{{spell-level-format this}}
				</li>
			{{/if}}
		{{/each}}
		{{#if (not-empty actor.obsidian.spellbook.concentration)}}
			<li class="obsidian-sub-tab item obsidian-spell-level-tab obsidian-icon-tab"
			    data-tab="spell-concentration">
				<div class="spell-component C">{{localize 'OBSIDIAN.ConcentrationAbbr'}}</div>
			</li>
		{{/if}}
		{{#if (not-empty actor.obsidian.spellbook.rituals)}}
			<li class="obsidian-sub-tab item obsidian-spell-level-tab obsidian-icon-tab"
			    data-tab="spell-ritual">
				<div class="spell-component R">{{localize 'OBSIDIAN.RitualAbbr'}}</div>
			</li>
		{{/if}}
	</ul>
	{{> modules/obsidian/html/tabs/sub-spells.html npc=npc}}
</div>
