<div class="obsidian-tab-contents tab" data-group="actions-tabs" data-tab="{{group}}">
	<h3>
		{{localize title}}
		<a title="{{localize 'OBSIDIAN.AddCustom'}}" class="obsidian-edit obsidian-add-feat"
		   data-action="{{action}}">
			{{localize 'OBSIDIAN.AddCustom'}}
		</a>
	</h3>
	<div class="obsidian-feature-list">
		{{> modules/obsidian/html/components/features.html
				feats=(filter actor.obsidian.feats 'data.activation.type' action)}}
	</div>
</div>
