<form class="obsidian obsidian-form-bare" autocomplete="off">
	<div class="obsidian-item-card">
		<div class="obsidian-item-card-header">
			<h3>
				<span>{{item.name}}</span>
			  {{format-uses actor item}}
			</h3>
			<div class="obsidian-item-card-sub-header">
				<div class="obsidian-table-note-text">
					{{~#if (eq item.flags.obsidian.source.type 'race')~}}
						{{~data.details.race~}}
					{{~else if (eq item.flags.obsidian.source.type 'feat')~}}
						{{~localize 'OBSIDIAN.Feat'~}}
					{{~else if (eq item.flags.obsidian.source.type 'other')~}}
						{{~item.flags.obsidian.source.other~}}
					{{~else if (eq item.flags.obsidian.source.type 'class')~}}
						{{~item.flags.obsidian.source.className~}}
					{{~/if~}}
				</div>
				{{#if (format-recharge actor item)}}
					<div class="obsidian-table-note-text">{{{format-recharge actor item}}}</div>
				{{/if}}
			</div>
		</div>
		<div class="obsidian-item-card-body">{{{item.flags.obsidian.display}}}</div>
	</div>
</form>
