<form class="obsidian" autocomplete="off">
	<fieldset>
		<legend>{{localize 'OBSIDIAN.Skills'}}</legend>
		<div class="obsidian-form-row obsidian-inline obsidian-mixed-form-row">
			<div class="obsidian-fullwidth obsidian-checkbox-row">
				<label class="obsidian-inline">
					{{localize 'OBSIDIAN.Roll'}}
					<select name="flags.obsidian.skills.roll">
						{{#select actor.flags.obsidian.skills.roll}}
							{{#each ObsidianRules.ROLL}}
								<option value="{{this}}">{{i18n-join 'OBSIDIAN.Roll-' this}}</option>
							{{/each}}
						{{/select}}
					</select>
				</label>
				<label class="obsidian-inline">
					<input type="text" placeholder="0" name="flags.obsidian.skills.bonus"
					       value="{{actor.flags.obsidian.skills.bonus}}" data-dtype="Number"
					       class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm">
					<span>{{localize 'OBSIDIAN.Bonus'}}</span>
				</label>
				{{fancy-checkbox 'flags.obsidian.skills.joat' content='OBSIDIAN.JackOfAllTrades'
				                 checked=actor.flags.obsidian.skills.joat}}
			</div>
		</div>
	</fieldset>
	<label class="obsidian-inline obsidian-label-lg">
		{{localize 'OBSIDIAN.CustomSkills'}}
		<button type="button" class="obsidian-btn-positive obsidian-btn-sm obsidian-add-skill">
			{{localize 'OBSIDIAN.Add'}}
		</button>
	</label>
	{{#each actor.flags.obsidian.skills.custom as |skill id|}}
		<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline" data-item-id="{{id}}">
			<div>
				<select name="flags.obsidian.skills.custom.{{id}}.value" data-dtype="Number">
					{{#select skill.value}}
						{{#each ../ObsidianRules.PROFICIENCY_LEVELS}}
							<option value="{{@key}}">
								{{i18n-join 'OBSIDIAN.Proficiency-' this}}
							</option>
						{{/each}}
					{{/select}}
				</select>
				<select name="flags.obsidian.skills.custom.{{id}}.ability"
				        style="text-transform: uppercase;">
					{{#select (lc skill.ability)}}
						{{#each ../data.abilities}}
							<option value="{{@key}}">{{i18n-join 'OBSIDIAN.AbilityAbbr-' @key}}</option>
						{{/each}}
					{{/select}}
				</select>
				<input class="obsidian-input-compact" type="text" placeholder="Skill"
				       name="flags.obsidian.skills.custom.{{id}}.label" value="{{skill.label}}">
				<span class="obsidian-binary-operator">&plus;</span>
				<input class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm" type="text"
				       placeholder="0" value="{{skill.bonus}}" data-dtype="Number"
				       name="flags.obsidian.skills.custom.{{id}}.bonus">
			</div>
			<button type="button" class="obsidian-btn-negative obsidian-btn-sm obsidian-rm-skill">
				{{localize 'OBSIDIAN.Remove'}}
			</button>
		</div>
	{{/each}}
</form>
