<div class="obsidian obsidian-2-pane-container" style="position: relative;">
	<section class="obsidian-2-pane obsidian-2-pane-sm obsidian-2-pane-header">
		<section class="obsidian-left-pane">
			<header>
				<div class="obsidian-import-export">
					<button type="button" class="obsidian-btn-outline" id="obsidian-spell-list-import">
						<i class="fas fa-download"></i>
						{{localize 'OBSIDIAN.Import'}}
					</button>
					<button type="button" class="obsidian-btn-outline" id="obsidian-spell-list-export">
						<i class="fas fa-upload"></i>
						{{localize 'OBSIDIAN.Export'}}
					</button>
				</div>
				<div class="obsidian-spell-filter">
					<div class="obsidian-input-search-container">
						<input type="text" class="obsidian-input-search" data-prop="left"
						       placeholder="{{localize 'OBSIDIAN.SpellName'}}...">
						<i class="fas fa-search"></i>
						<span class="obsidian-clear-search">&times;</span>
					</div>
					<ul class="obsidian-tab-bar" data-prop="left">
						{{#each (range 0 9)}}
							<li class="obsidian-sub-tab obsidian-spell-level-tab" data-value="{{this}}">
								{{spell-level-format this}}
							</li>
						{{/each}}
					</ul>
				</div>
			</header>
			<select id="obsidian-all-spells" multiple></select>
		</section>
		<section class="obsidian-right-pane">
			<header>
				<div class="obsidian-drop-down-with-manage">
					<select id="obsidian-class-list">
						{{#each lists}}
							<option value="{{@key}}">{{i18n-class @key}}</option>
						{{/each}}
					</select>
					<button type="button" class="obsidian-btn-outline" id="obsidian-manage-custom-lists">
						{{localize 'OBSIDIAN.ManageCustom'}}
					</button>
				</div>
				<div class="obsidian-spell-filter">
					<div class="obsidian-input-search-container">
						<input type="text" class="obsidian-input-search" data-prop="right"
						       placeholder="{{localize 'OBSIDIAN.SpellName'}}...">
						<i class="fas fa-search"></i>
						<span class="obsidian-clear-search">&times;</span>
					</div>
					<ul class="obsidian-tab-bar" data-prop="right">
						{{#each (range 0 9)}}
							<li class="obsidian-sub-tab obsidian-spell-level-tab" data-value="{{this}}">
								{{spell-level-format this}}
							</li>
						{{/each}}
					</ul>
				</div>
			</header>
			<select id="obsidian-class-spells" multiple></select>
		</section>
	</section>
	<div class="obsidian-transfer-buttons">
		<button type="button" id="obsidian-transfer-right">
			<i class="fas fa-angle-right"></i>
		</button>
		<button type="button" id="obsidian-transfer-left">
			<i class="fas fa-angle-left"></i>
		</button>
	</div>
</div>
