<form class="obsidian obsidian-form-bare" autocomplete="off" onsubmit="event.preventDefault();">
	<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline"
	     style="margin-bottom: 10px;">
		<div class="obsidian-fullwidth">
			<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
			       data-dtype="Number" placeholder="0" value="1">
			<span class="obsidian-binary-operator">&sol;</span>
			<span class="obsidian-feature-max">{{max}}</span>
			<span style="font-size: 13px;">{{name}}</span>
		</div>
	</div>
</form>
