<fieldset data-uuid="{{uuid}}">
	<legend>{{localize 'OBSIDIAN.CombatDuration'}}</legend>
	<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
		<div class="obsidian-fullwidth obsidian-checkbox-row">
			<label class="obsidian-inline">
				<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
				       data-dtype="Number" placeholder="1" name="{{prefix}}.duration" value="{{duration}}">
				<span>{{localize 'OBSIDIAN.Rounds'}}</span>
			</label>
			{{fancy-checkbox (add prefix '.concentration') content='OBSIDIAN.Concentration'
                       checked=concentration}}
		</div>
	</div>
</fieldset>
