{{#each (sort feats 'name') as |feat idx|}}
	<div class="obsidian-feature item" data-item-id="{{feat._id}}" draggable="true">
		{{#if (and ../heading (eq idx 0))}}
			<h3>{{localize ../heading}} {{format-legendary ../legendary}}</h3>
			{{#if ../subtext}}
				<div class="obsidian-rules-text">{{../subtext}}</div>
			{{/if}}
		{{/if}}
		<div class="obsidian-feature-header">
			<div>
				<h4 class="rollable" data-roll="item" data-id="{{feat._id}}">{{feat.name}}</h4>
				<div class="obsidian-feature-recharge">{{{format-recharge @root.actor feat bull=true}}}</div>
				<a title="{{localize 'OBSIDIAN.ViewFeature'}}" class="obsidian-view"
				   data-item-id="{{feat._id}}">
					<i class="fas fa-eye"></i>
				</a>
				<a title="{{localize 'OBSIDIAN.EditFeature'}}" class="obsidian-edit item-edit">
					<i class="fas fa-edit"></i>
				</a>
				<a title="{{localize 'OBSIDIAN.Delete'}}" class="obsidian-delete">
					<i class="fas fa-trash"></i>
				</a>
			</div>
			{{format-uses @root.actor feat}}
		</div>
		{{#if @root.isNPC}}
		{{#each feat.obsidian.collection.attack}}
		<div class="obsidian-attack-line">
			<div class="obsidian-col-icon">
				{{#if (eq parentItem.type 'spell')}}
					<div class="obsidian-icon obsidian-icon-school-{{parentItem.data.school}}"></div>
				{{else if (eq parentItem.type 'weapon')}}
					<div class="
						{{#if (is-attack-toggleable this)}}
							obsidian-attack-toggle
						{{/if}} obsidian-icon obsidian-icon-{{mode}}"
					     data-uuid="{{uuid}}">
					</div>
				{{else}}
					<div class="obsidian-icon obsidian-icon-{{attack}}"></div>
				{{/if}}
			</div>
			<div class="obsidian-col-range">
				{{#if (eq mode 'ranged')}}
					<div class="obsidian-table-number-md">
						<div>
							{{parentItem.data.range.value}}
							<span class="obsidian-table-number-split">/</span>
						</div>
						<div>
							<span class="obsidian-table-number-minor">{{parentItem.data.range.long}}</span>
							<span class="obsidian-table-unit">{{localize 'OBSIDIAN.FeetAbbr'}}</span>
						</div>
					</div>
				{{else if (eq parentItem.type 'spell')}}
					{{#if (or (eq parentItem.flags.obsidian.range.type 'short') (eq parentItem.flags.obsidian.range.type 'long'))}}
						<div class="obsidian-table-number-md">
							{{parentItem.flags.obsidian.range.n}}
							<span class="obsidian-table-unit">
								{{i18n-join 'OBSIDIAN.SpellRangeAbbr-' parentItem.flags.obsidian.range.type}}
							</span>
						</div>
					{{else if (eq parentItem.flags.obsidian.range.type 'unlimited')}}
						<div class="obsidian-table-number-md">&infin;</div>
					{{else}}
						<div class="obsidian-table-text">
							{{i18n-join 'OBSIDIAN.SpellRange-' parentItem.flags.obsidian.range.type}}
						</div>
					{{/if}}
				{{else if (eq parentItem.type 'weapon')}}
					<div class="obsidian-table-number-md">
						{{parentItem.flags.obsidian.reach}}
						<span class="obsidian-table-unit">{{localize 'OBSIDIAN.FeetAbbr'}}</span>
					</div>
					<div class="obsidian-table-sub-text">{{localize 'OBSIDIAN.Reach'}}</div>
				{{else}}
					<div class="obsidian-table-number-md">
						{{reach}}
						<span class="obsidian-table-unit">{{localize 'OBSIDIAN.FeetAbbr'}}</span>
					</div>
					<div class="obsidian-table-sub-text">{{localize 'OBSIDIAN.Reach'}}</div>
				{{/if}}
			</div>
			<div class="obsidian-col-hit">
				<div class="obsidian-table-number-lg">
					{{numberFormat value decimals=0 sign=true}}
				</div>
			</div>
			<div class="obsidian-col-damage">
				<div class="obsidian-table-dmg">
					{{#each (which-damage parentItem this)}}
						<div class="obsidian-dmg-component">
							{{display}}
							<div class="obsidian-icon-sm obsidian-icon-{{damage}}"
							     title="{{i18n-join 'OBSIDIAN.Damage-' damage}}"></div>
						</div>
					{{/each}}
				</div>
			</div>
			<div class="obsidian-col-notes">
				<div class="obsidian-table-note-text">{{target}}</div>
			</div>
		</div>
		{{/each}}
		{{/if}}
		{{#unless feat.flags.obsidian.collapsed}}
		<div class="obsidian-feature-body">{{{feat.flags.obsidian.display}}}</div>
		{{/unless}}
	</div>
{{/each}}
